@import 'common';
$size : 12px;
header{
	height: 40px;
	width: 100%;
	background: #f6f6f6;
	border-bottom: 1px solid #e5e5e5;
}
.side{
	position: fixed;
	right: 0;
	top: 50%;
	margin-top: -70px;
	& ul{
		& li{
			width: 35px;
			height: 35px;
			background: url("../../img/shopList_img/toolbar_bg.png") no-repeat #483E39;
			margin-bottom: 1px;
			border-radius: 4px;
		}
		& li:nth-child(1){
			background-position: 0px 0;
		}
		& li:nth-child(2){
			background-position: 0px -50px;
			position: relative;
			& span{
				position: absolute;
				display: block;
				height: 15px;
				width: 15px;
				background: orange;
				border-radius: 15px;
				left: 22px;
				top: -7px;
				font-size: 12px;
				display: none;
				text-align: center;
			}
		}
		& li:nth-child(3){
			background-position: 0px -100px;
		}
		& li:nth-child(4){
			background-position: 0px -150px;
		}
		& li:nth-child(5){
			background-position: 0px -200px;
		}
		& li:nth-child(1):hover{
			background: url("../../img/shopList_img/toolbar_bg.png") no-repeat 0px 0 orange;
		}
		& li:nth-child(2):hover{
			background: url("../../img/shopList_img/toolbar_bg.png") no-repeat 0px -50px orange;
		}
		& li:nth-child(3):hover{
			background: url("../../img/shopList_img/toolbar_bg.png") no-repeat 0px -100px orange;
		}
		& li:nth-child(4):hover{
			background: url("../../img/shopList_img/toolbar_bg.png") no-repeat 0px -150px orange;
		}
		& li:nth-child(5):hover{
			background: url("../../img/shopList_img/toolbar_bg.png") no-repeat 0px -200px orange;
		}
	}
}
.header{
	width: $baseWidth;
	height: 40px;
	margin: auto;
	& ul{
		display: flex;
		width: 500px;
		height: 40px;
		float: right;
		align-items: center;
		& li{
			padding: 0 $baseFontSize;
			border : {
				right : {
					width: 1px;
					color : gray;
					style : solid
				}
			}
			height : $baseFontSize;
			line-height : $baseFontSize;
			float : left;
			& a{
				color: #777777;
				font-size: $baseFontSize;
				& img{
					margin-left: 6px;
					margin-top: 6px;
					float: right;
				}
			}
		}
		& li:nth-of-type(1){
			border: none;
			padding-left: 2px;
			& a{
				color: #555555;
			}
		}
		& li:nth-of-type(2){
			border: none;
			padding-left: 2px;
			& a{
				color: #ff5b57;
			}
		}
		& li:nth-of-type(5){
			border: none;
		}
		& li:nth-of-type(6){
			border: none;
			padding: 0;
			height: 20px;
			position: relative;
			& a{
				line-height: 22px;
				margin-left: 29px;
				& img{
					margin-top: 0;
					position: absolute;
					left: 0;
					top: 0;
				}
			}
		}
	}
}
article{
	//所有商品分类
	& .fond{
		width: 100%;
		height: 150px;
		border-bottom: 1px solid #f15c18;
		& .fonds{
			margin: auto;
			overflow: hidden;
			display: flex;
			justify-content: space-between;
			width: $baseWidth;
			& img{
				margin-top: 27px;
				height: 60px;
			}
			& .fond-center{
				width: $baseFondWidth;
				& p{
					margin: 24px 0 6px 0;
					width: $baseFondWidth;
					height: 36px;
					border: 2px solid #f15c18;
					display: flex;
					& img{
						width: 10px;
						height: 5px;
					}
					& a{
						display: flex;
						align-items: center;
						width: 68px;
						height: 36px;
						background: #f8f8f8;
						border: 0;
						border-right: 1px solid #cecece;
						text-indent: 15px;
						line-height: 36px;
						font-size: $baseFontSize;
						color: #333333;
						& img{
							width: 10px;
							height: 5px;
							margin: 0;
							margin-left: 10px;
						}
					}
					& #text{
						width: 380px;
						border: 0;
						text-indent: 14px;
						font-size: $baseFontSize;
						color: #757575;
					}
					& #find{
						float: right;
						width: 98px;
						background: #f15c18;
						border: none;
						color: white;
						text-align: center;
						display: block;
						font-weight: 600;
						text-indent: 0;
					}
				}
				& div{
					& ul{
						display: flex;
						& li a{
							font-size: $baseFontSize;
							color: #999999;
							padding: 0px 8px;
							border: {
								right : {
									width: 1px;
									style : solid;
									color : #999999
								}
							};
						}
						& li:nth-child(6) a{
							border-right: 0px;
						}
					}
				}
			}
			& .fond-right{
				display: flex;
				justify-content: space-around;
				align-items: center;
				& p{
					width: 113px;
					height: 40px;
					border: 1px solid #f0f0f0;
					margin-left: 11px;
					display: flex;
					justify-content: space-around;
					align-items: center;
					& a{
						font-size: 11px;
						color: #555555;
					}
					& img{
						margin-top: 0px;
						height: 16px;
					}
				}
			}
		}
		& .fond2{
			margin: auto;
			width: 1200px;
			display: flex;
			justify-content: flex-start;
			padding-top: 20px;
			& p{
				width: 172px;
				height: 40px;
				background: #f15c18;
				color: white;
				line-height: 40px;
				font-size: 13px;
				text-align: center;
			}
			& a{
				padding: 0 24px;
				height: 40px;
				line-height: 40px;
				font-size: 13px;
				color: #ff6d02;
				text-align: center;
			}
			& a:nth-child(3){
				color: #333333;
			}
		}
	}
	//导航
	& .boxs{
		width: $baseWidth;
		margin: auto;
		height: 50px;
		display: flex;
		color: #e6e6e6;
		font-size: 12px;
		align-items: center;
		color: #555555;
		& a{
			width: 86px;
			height: 24px;
			border: 1px solid #e6e6e6;
			display: block;
			color: #555555;
			text-align: center;
			font-size: 12px;
			margin: 0 5px;
			line-height: 24px;
		}
	}
	//分类
	& .list{
		width: 1198px;
		height: 204px;
		margin: auto;
		margin-bottom: 42px;
		border: 1px solid #e6e6e6;
		& p:nth-child(1){
			width: 1199px;
			height: 36px;
			background: #f2f2f2;
			border-bottom: 1px solid #e6e6e6;
			text-indent: 10px;
			line-height: 36px;
			font-size: 12px;
			color: #666666;
			& span{
				color: red;
			}
		}
		& div:nth-child(2){
			width: 1198px;
			height: 62px;
			position: relative;
			display: flex;
			background: white;
			& span{
				background: #fafafa;
				width: 57px;
				height: 49px;
				border-right: 1px solid #e6e6e6;
				display: block;
				padding: 13px 0 0 23px;
			}
			& ul{
				height: 62px;
				display: flex;
				margin-left: 11px;
				justify-content: center;
				align-items: center;
				& li{
					& a{
						width: 120px;
						height: 45px;
						text-align: center;
						line-height: 45px;
						color: orange;
						display: block;
						border: 1px solid #e6e6e6;
						& img{
							height: 45px;
							width: 120px;
						}
					}
				}
			}
			& input{
				width: 52px;
				height: 20px;
				border: 2px solid #e1e1e1;
				background: #f8f8f8;
				position: absolute;
				left: 1132px;
				top: 5px;
			}
		}
		& .navv{
			width: 1198px;
			height: 34px;
			position: relative;
			display: flex;
			background: white;
			border-top: 1px solid #e6e6e6;
			& span{
				background: #fafafa;
				width: 69px;
				height: 34px;
				line-height: 34px;
				color: #777777;
				font-size: 12px;
				border-right: 1px solid #e6e6e6;
				display: block;
				padding-left: 11px;
			}
			& ul{
				height: 34px;
				display: flex;
				margin-left: 11px;
				justify-content: center;
				align-items: center;
				& li{
					& a{
						height: 34px;
						font-size: 12px;
						display: block;
						line-height: 34px;
						padding: 0 22px;
						color: black;
					}
				}
			}
			& input{
				width: 52px;
				height: 20px;
				border: 1px solid #e1e1e1;
				background: #f8f8f8;
				position: absolute;
				left: 1132px;
				top: 5px;
			}
		}
		.navs{
			border-top: 1px solid #e6e6e6;
			border-bottom: 0;
			position: relative;
			& p{
				width: 110px;
				height: 31px;
				border: 1px solid #e6e6e6;
				border-top: 0;
				position: absolute;
				background: white;
				left: 600px;
				top: -1px;
				line-height: 31px;
				text-align: center;
				font-size: 12px;
				display: flex;
				align-items: center;
				justify-content: space-around;
				& a{
					display: block;
					margin-top: 5px;
					width: 15px;
					height: 15px;
					background: url("../../img/shopList_img/search.ele.png") no-repeat 0 0;
				}
			}
		}
		.navs:hover{
			border-top: 1px solid #ff6d02;
			& p{
				border: 1px solid #ff6d02;
				border-top: 0;
				background: white;
				color: #ff6d02;
				& a{
					background: url("../../img/shopList_img/search.ele.png") no-repeat 0 -17px;
				}
			}
		}
	}
	& .list1{
		width: 1198px;
		height: 40px;
		border-top: 1px solid #e8e8e8;
		border-left: 1px solid #e8e8e8;
		border-bottom: 1px solid #e8e8e8;
		margin: auto;
		margin-bottom: 20px;
		background: #f5f5f5;
		& ul{
			display: flex;
			& li{
				padding: 15px;
				border-right: 1px solid #e8e8e8;
				color: #888888;
				font-size: 12px;
				height: 12px;
				display: flex;
				align-items: center;
				justify-content: center;
				& input{
					color: #888888;
					font-size: 11px;
					width: 64px;
					text-align: center;
					border: 1px solid #e8e8e8;
					height: 24px;
					background: white;
				}
				#boxs{
					width: 12px;
					height: 12px;
					margin-right: 10px;
				}
			}
		}
	}
}
.shops{
	width: 1199px;
	margin: auto;
	height: 887px;
	div{
		border: 1px solid #e8e8e8;
		width: 220px;
		float: left;
		margin-right: 22px;
		position: relative;
		margin-bottom: 20px;
		height: 382px;
		text-align: center;
		& img{
			display: inline-block;
			width: 200px;
			height: 225px;
		}
		& p{
			height: 24px;
			width: 194px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			line-height: 24px;
			font-size: 12px;
			text-align: left;
			padding-left: 10px;
		}
		& p:nth-child(2){
			color: #ff5837;
			font-size: 12px;
			text-align: left;
			& span{
				font-size: 16px;
			}
		}
		& p:nth-child(3){
			color: #333333;
			margin-bottom: 21px;
		}
		& p:nth-child(4){
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 7px;
			& span{
				display: block;
				color: #666666;
				font-size: 12px;
			}
			& span:nth-child(2){
				width: 32px;
				height: 20px;
				background: #ff6d02;
				color: white;
				border-radius: 3px;
				text-align: center;
				line-height: 20px;
			}
		}
		& p:nth-child(5){
			height: 51px;
			width: 210px;
			padding-left: 10px;
			border-top: 1px solid #e8e8e8;
			display: flex;
			align-items: center;
			& input{
				width: 104px;
				height: 30px;
				border: 0;
				background: #ff6d02;
				text-align: center;
				line-height: 30px;
				color: white;
				border-radius: 4px;
			}
			& span:nth-child(2){
				background: #fafafa;
				border: 1px solid #f0f0f0;
				width: 56px;
				font-size: 12px;
				color: #b19999;
				height: 28px;
				margin: 0 5px 0 5px;
				display: flex;
				align-items: center;
				justify-content: space-around;
				& span{
					width: 15px;
					height: 15px;
					background: url("../../img/shopList_img/search.ele.png") no-repeat 0px -435px ;
				}
			}
			& span:nth-child(2):hover{
				& span{
					background: url("../../img/shopList_img/search.ele.png") no-repeat 0px -453px ;
				}
			}
			& span:nth-child(3){
				display: block;
				width: 32px;
				height: 28px;
				border: 1px solid #f0f0f0;
				background: #fafafa;
				border-radius: 4px;
				display: flex;
				align-items: center;
				& span{
					margin: auto;
					width: 20px;
					height: 20px;
					display: block;
					background: url("../../img/shopList_img/chat_state_01.png") no-repeat 0px -20px ;
				}
			}
			& span:nth-child(3):hover{
				& span{
					background: url("../../img/shopList_img/chat_state_01.png") no-repeat 0px 0px ;
				}
			}
		}
		& p:nth-child(6){
			height: 75PX;
			width: 210px;
			position: absolute;
			left: 0;
			top: 254PX;
			display: none;
			background: white;
			& span{
				height: 25px;
				line-height: 25px;
				font-size: 12px;
				display: flex;
				align-content: center;
				justify-content: flex-start;
				color: gray;
				& span{
					color: red;
				}
			}
		}
	}
	div:hover{
		& p:nth-child(6){
			display: block;
		}
	}
	div:nth-child(5){
		margin-right: 0;
	}
	& ul{
		height: 30px;
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		& li{
			& a{
				padding: 8px 4px;
				border: 1px solid #e1e1e1;
				border-radius: 2px;
				text-align: center;
				height: 12px;
				font-size: 12px;
				color: #bcaaaa;
				margin: 6px;
			}
		}
		& li:nth-child(3) a{
			background: #ff6d02;
			width: 30px;
			display: block;
			padding: 0;
			line-height: 30px;
			height: 30px;
			border: 1px solid #f65617;
			color: white;
		}
	}
}
// .history{
// 	border-top: 1px solid gray;
// 	box-shadow: 0px 3px #e8e8e8;
// 	height: 384px;
// 	width: 100%;
// }
.advice{
	width: 100%;
	background: white;
	& .top{
		height: 86px;
		margin: auto;
		display: flex;
		justify-content: space-around;
		padding: 0 50px;
		align-items: center;
		border : {
			top : {
				style : solid;
				color : #e3e3e3;
				width: 1px;
			}
			bottom : {
				style : solid;
				color : #e3e3e3;
				width: 1px;
			}
		}
	}
	& .bot{
		width: 1100px;
		height: 134px;
		margin: auto;
		padding: 25px 0;
		display: flex;
		& div:nth-child(1){
			width: 280px;
			border-right: 1px solid #eaeaea;
			margin-right: 65px;
			& a{
				font-size: 16px;
				color: #666666;
				margin-left: 4px;
				margin-bottom: 6px;
				display: block;
				line-height: 32px;
			}
			& .ull li a{
				font-size: $baseFontSize;
				color: #999999;
				margin: 0;
				line-height: 24px;
			}
		}
		& div{
			width: 165px;
			& ul li:nth-child(1) a{
				font-size: 16px;
				color: #666666;
				line-height: 32px;
				display: block;
				margin-bottom: 6px;
			}
			& ul li a{
				font-size: $baseFontSize;
				color: #999999;
				margin: 0;
				line-height: 24px;
			}
		}
	}
}
footer{
	width: 100%;
	height: 179px;
	background: #343a3a;
	border-top: 1px solid #343a3a;
	& ul:nth-child(1) li a{
		font-size: $baseFontSize;
		color: #eeeeee;
		padding: 0 15px;
		border-left: 1px solid #eeeeee;
		height: 12px;
		line-height: 12px;
	}
	& ul:nth-child(1) li:nth-child(1) a{
		border: 0;
	}
	& ul:nth-child(4){
		& li img{
			width: 108px;
			height: 40px;
			margin: 0 10px;
		}
	}
	& ul{
		display: flex;
		margin: auto;
		justify-content: center;
		& li{
			margin-top: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: $baseFontSize;
			color: #eeeeee;
			& img{
				display: inline-block;
				height: 16px;
			}
			& a{
				font-size: $baseFontSize;
				color: #eeeeee;
				padding: 0 15px;
				line-height: 15px;
				height: 15px;
			}
		}
	}
}